<div class="container">
    <div class="box">
        <div><h3>Login</h3></div>
        <div class="form">
            <form action="" (submit)="login()">
                <input type="text" placeholder="Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                <input type="text" name="" id="" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                <button type="submit">Entrar</button>
            </form>
        </div>
    </div>
</div>