nav{
    background:  linear-gradient( 150deg,#9c27b0, rgb(31, 1, 54) 50% );
    display: flex;
    justify-content: space-around;
    padding: 10px;
    color: white;
    /* box-shadow: 0px 10px rgba(0, 0, 0, 0.2); */
}
