<div class="container">
    <div class="box">
        <div><h3>Cadastre-se</h3></div>
        <div class="form">
            <form action="" (submit)="register()">
                <input type="text" placeholder="Nome" [(ngModel)]="firstname" [ngModelOptions]="{standalone: true}">
                <input type="text" placeholder="Sobrenome" [(ngModel)]="lastname" [ngModelOptions]="{standalone: true}">
                <input type="text" placeholder="Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                <input type="text" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                <button type="submit">Entrar</button>
            </form>
        </div>
    </div>
</div>