<div class="container">
    <div class="box">
        <div><h3>Cadastrar novo carro</h3></div>
        <div class="form">
            <form action="" (ngSubmit)="cadastrarCarro(carro)">
                <input type="text" placeholder="Marca" [(ngModel)]="carro.marca" [ngModelOptions]="{standalone: true}">
                <input type="text" placeholder="Modelo" [(ngModel)]="carro.modelo" [ngModelOptions]="{standalone: true}">
                <input type="text" placeholder="Ano" [(ngModel)]="carro.ano" [ngModelOptions]="{standalone: true}">
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>